*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.25rem;
  text-align: center;
}
body * {
  font-family: "Libre Franklin";
}
body > * {
  max-width: 44.5vw;
}
@media (max-width: 1000px) {
  body > * {
    max-width: 85vw;
  }
}

img {
  max-width: 100%;
}

header {
  margin-top: 5.4rem;
}

main {
  margin-block: 0.6rem;
}

.title {
  color: #969696;
  font-size: 3rem;
  font-weight: inherit;
  margin-bottom: 0;
}
.title span {
  color: black;
  font-weight: 700;
}
@media (max-width: 1000px) {
  .title {
    font-size: 1.5rem;
  }
}

.subtitle {
  font-weight: inherit;
  font-size: 1.25rem;
  margin-bottom: 2.5rem;
}
@media (max-width: 1000px) {
  .subtitle {
    font-size: 0.85rem;
  }
}

.notify {
  display: flex;
  flex-direction: column;
}
.notify__container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
@media (max-width: 1000px) {
  .notify__container {
    flex-direction: column;
    gap: 1rem;
  }
}
.notify__email, .notify__button {
  border-radius: 30px;
  border: 1px solid;
  font-size: 1rem;
  padding: 1.1rem 3.9rem;
}
@media (max-width: 1000px) {
  .notify__email, .notify__button {
    padding-block: 0.9rem;
  }
}
.notify__email {
  color: #969696;
  border-color: #c2d3ff;
  outline: none;
  padding-left: 1.8em;
  flex-grow: 1;
  transition: border-color 200ms ease;
}
.notify__email.invalid {
  border-color: #ff5263;
}
.notify__button {
  border-color: #4f7df3;
  background: #4f7df3;
  color: white;
  font-weight: 600;
  box-shadow: 0 8px 15px #c1d1fb;
  cursor: pointer;
}
.notify__mensaje {
  display: flex;
  height: fit-content;
  width: 100%;
}
.notify__mensaje p {
  width: 100%;
  color: #ff5263;
  font-size: 1rem;
  font-style: italic;
  margin-left: 1.8rem;
  text-align: left;
}
.notify__mensaje p.error::after {
  position: absolute;
  animation: fadeIn 200ms;
  content: "Please provide a valid email address";
}

.preview {
  margin-top: 4.4rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
footer {
  margin-block: 3.5rem 2.5rem;
}
@media (max-width: 1000px) {
  footer {
    margin-top: 5rem;
  }
}

.social {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 0.75rem;
  margin-bottom: 1.6rem;
}
.social i {
  font-size: 0.9rem;
  color: #4f7df3;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: inline-flex;
  justify-content: center;
  place-items: center;
  transition: all 150ms ease;
  cursor: pointer;
}
.social i:hover {
  color: white;
  background-color: #4f7df3;
}

.copyright {
  color: #969696;
  font-size: 0.75rem;
}