@use '../abstract' as *;

main {
  margin-block: 0.6rem;
}

.title {
  color: $clr-neutral-light;
  font-size: 3rem;
  font-weight: inherit;
  margin-bottom: 0;

  span {
    color: black;
    font-weight: 700;
  }

  @media (max-width: $vp-width) {
    font-size: 1.5rem;
  }
}

.subtitle {
  font-weight: inherit;
  font-size: 1.25rem;
  margin-bottom: 2.5rem;

  @media (max-width: $vp-width) {
    font-size: 0.85rem;
  }
}

.notify {
  $animation-timing: 200ms;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &__container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    @media (max-width: $vp-width) {
      flex-direction: column;
      gap: 1rem;
    }
  }

  &__email,
  &__button {
    border-radius: 30px;
    border: 1px solid;
    font-size: 1rem;
    padding: 1.1rem 3.9rem;
    @media (max-width: $vp-width) {
      padding-block: 0.9rem;
    }
  }

  &__email {
    color: $clr-neutral-light;
    border-color: $clr-primary-light;
    outline: none;
    padding-left: 1.8em;
    flex-grow: 1;

    transition: border-color $animation-timing ease;

    &.invalid {
      border-color: $clr-secondary;
    }
  }

  &__button {
    border-color: $clr-primary-dark;
    background: $clr-primary-dark;
    color: white;
    font-weight: 600;
    box-shadow: 0 8px 15px hsla(hue($clr-primary-dark), saturation($clr-primary-dark), saturation($clr-primary-dark), 1);
    cursor: pointer;
  }

  &__mensaje p {
    color: $clr-secondary;
    font-size: 1rem;
    font-style: italic;
    text-align: left;
    margin-left: 1.8rem;

    &.error::after {
      position: absolute;
      animation: fadeIn $animation-timing;
      content: 'Please provide a valid email address';
    }
  }
}

.preview {
  margin-top: 4.4rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
