@use '../abstract' as *;

.card {
  padding: 3rem;

  &__title {
    color: $clr-neutral-100;

    font-family: 'Big Shoulders Display';
    font-weight: 700;

    font-size: 2.5rem;
  }

  &__body {
    color: $clr-neutral-400;

    font-family: 'Lexend Deca';
    font-weight: 400;

    line-height: 1.75;
  }

  &__button {
    font-family: 'Lexend Deca';
    font-size: 1.05rem;
    padding: 1em 2em;

    background: $clr-neutral-100;

    border: 2px solid $clr-neutral-100;
    border-radius: 50px;

    margin-top: 5rem;

    $timing: 100ms ease;
    transition: background-color $timing, border-color $timing;

    &:hover,
    &:focus {
      background: none;

      border-color: $clr-neutral-100;

      outline: none;
    }
  }

  @media (max-width: 1080px) {
    .card__button {
      margin-top: 1rem;
    }
  }
}

.card--orange {
  background: $clr-orange;

  .card__button {
    color: $clr-orange;

    &:hover,
    &:focus {
      color: $clr-neutral-100;
    }
  }
}

.card--cyan {
  background: $clr-cyan-400;

  .card__button {
    color: $clr-cyan-400;

    &:hover,
    &:focus {
      color: $clr-neutral-100;
    }
  }
}

.card--cyan-dark {
  background: $clr-cyan-600;

  .card__button {
    color: $clr-cyan-600;

    &:hover,
    &:focus {
      color: $clr-neutral-100;
    }
  }
}
