.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  width: 61.2rem;

  border-radius: 8px;
  overflow: hidden;

  box-shadow: 0 0 20px rgba($color: #000, $alpha: 0.1);

  @media (max-width: 1080px) {
    grid-template-columns: 1fr;
    margin: 6rem 1rem;
  }
}
