@use 'sass:math';
@use '../abstract' as *;

footer {
  margin-block: 3.5rem 2.5rem;
}

.social {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 0.75rem;

  margin-bottom: 1.6rem;

  i {
    $fz: 0.9rem;
    font-size: $fz;
    color: $clr-primary-dark;
    border: 1px solid hsla(hue($clr-neutral-light), saturation($clr-neutral-light), saturation($clr-neutral-light), 0.1);
    border-radius: 50%;

    $side: 2rem;
    width: $side;
    height: $side;
    display: inline-flex;
    justify-content: center;
    place-items: center;
  }
}

.copyright {
  color: $clr-neutral-light;
  font-size: 0.75rem;
}
